.note-list-page {
  .guide-card-item {
    nb-card-body {
      cursor: pointer;
      padding: 0;

      .details {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h6 {
          padding: 0 10px;
        }
      }

      .pdf-thumbnail {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.unique-identifier {
  margin: 0;
  padding: 15px 10px 0;
  font-size: 10px;
  color: #b00020;
  line-height: 15px;
}