@mixin material-overrides() {
  @include nb-for-themes(material-dark, material-light) {
    nb-layout-header {
      background: #fff !important;
      nav {
        // border-bottom: 1px solid #e5e5e5;
        box-shadow: none !important;
      }
      nb-actions,
      .logo-container {
        nb-icon,
        .user-container {
          .info-container {
            .user-name {
              color: #000 !important;
            }
            @media (max-width: 768px) {
              display: none;
            }
          }
        }
      }

      .select-button {
        background-color: nb-theme(background-basic-color-3) !important;
      }
    }

    nb-sidebar {
      transition: width 0.3s;
      background: nb-theme(color-basic-100);
      .main-container {
        transition: width 0.3s;
        .menu-item {
          border-bottom: none;
          &:not(:has(.menu-item)) a.active,
          a:hover {
            background: nb-theme(color-primary-200);
            color: nb-theme(color-primary-500);
            .menu-icon {
              color: nb-theme(color-primary-500);
            }
          }
          &:has(.menu-item) a.active {
            background: #fff;
            color: #000;
            .menu-icon {
              color: #000;
            }
          }

          .menu-items {
            padding: 0 !important;
            .menu-item {
              a {
                padding: 0.75rem 1.25rem;
              }
              a.active,
              a:hover {
                background: nb-theme(color-primary-200);
                color: nb-theme(color-primary-500);
                .menu-icon {
                  color: nb-theme(color-primary-500);
                }
              }
            }
          }
        }
      }
    }

    nb-layout-footer {
      nav {
        background-color: nb-theme(color-basic-100) !important;
        color: #000 !important;
        border-top: none !important;
      }
    }
    nb-card {
      border-bottom-left-radius: 0.125rem;
      border-bottom-right-radius: 0.125rem;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 4px 10px 15px -3px #0087bd1c;
      nb-card-header,
      .tabset {
        background-color: nb-theme(card-divider-color);
      }
    }
    nb-card.table-card-header {
      padding: 20px;
      table {
        tr {
          background: transparent !important;
          border-bottom: 1px solid #e6eff5;
          td,
          th {
            border: none !important;
            padding: 10px !important;
          }
          th {
            .ng2-smart-title {
              color: nb-theme(color-primary-500);
              font-weight: 500;
              a {
                color: nb-theme(color-primary-500);
                font-weight: 500;
              }
            }
          }
          .form-control {
            border-color: #d6e7ff;
            border-radius: 0.45rem;
          }
        }
      }
    }
    nb-accordion {
      box-shadow: none !important;
      nb-accordion-item-body {
        .sub-item {
          box-shadow: none !important;
          border-bottom: 1px solid #e5e5e5;
        }
      }
    }

    .shape-rectangle {
      border-radius: 0.75rem !important;
    }

    [nbinput] {
      font-weight: 400;

      &.status-basic:focus:hover {
        border-color: nb-theme(color-primary-focus) !important;
      }
    }

    [nbbutton] {
      box-shadow: none !important;
    }
  }
}
