<div class="row drag-drop-ordered-response">
  <!-- Question view for student when they are taking the exam & Admin When they are viewing on their portal -->
  <div *ngIf="!question?.isAttempted" class="col-12">
    <div cdkDropListGroup class="row">
      <div class="col-6">
        <nb-card>
          <nb-card-header> Options </nb-card-header>
          <nb-list
            class="example-list"
            cdkDropList
            [cdkDropListData]="optionsArray"
            cdkDropListSortingDisabled
            (cdkDropListDropped)="drop($event)"
          >
            <nb-list-item *ngFor="let item of optionsArray" cdkDrag>
              {{ item }}
            </nb-list-item>
          </nb-list>
        </nb-card>
      </div>

      <div class="col-6">
        <nb-card>
          <nb-card-header>Your Answer</nb-card-header>
          <nb-list
            class="example-list"
            cdkDropList
            [cdkDropListData]="userSelectedAnswer"
            (cdkDropListDropped)="drop($event)"
          >
            <nb-list-item *ngFor="let item of userSelectedAnswer" cdkDrag>
              {{ item }}
            </nb-list-item>
          </nb-list>
        </nb-card>
      </div>
    </div>
  </div>

  <!-- Question view for student when they are checking the report & Admin view when they click on show answer -->
  <div *ngIf="question?.isAttempted" class="col-sm-12">
    <div class="row">
      <div class="col-4">
        <nb-card>
          <nb-card-header> Options </nb-card-header>
          <nb-list>
            <nb-list-item *ngFor="let item of optionsArray">
              {{ item }}
            </nb-list-item>
          </nb-list>
        </nb-card>
      </div>
      <div class="col-4">
        <nb-card>
          <nb-card-header>
            <span> Your Answer</span> &nbsp;
            <nb-icon
              [status]="isUserSelectedAnswerCorrect ? 'success' : 'danger'"
              [icon]="isUserSelectedAnswerCorrect ? 'checkmark-circle-2-outline' : 'close-circle-outline'"
            ></nb-icon>
          </nb-card-header>
          <nb-list>
            <nb-list-item *ngFor="let item of userSelectedAnswer">
              {{ item }}
            </nb-list-item>
          </nb-list>
        </nb-card>
      </div>
      <div class="col-4">
        <nb-card>
          <nb-card-header>Correct Answer</nb-card-header>
          <nb-list>
            <nb-list-item *ngFor="let item of correctAnswer">
              {{ item }}
            </nb-list-item>
          </nb-list>
        </nb-card>
      </div>
    </div>
  </div>

  <div class="col-12 mt-2" *ngIf="!question?.isAttempted">
    <button status="primary" nbButton (click)="submit()">Submit</button>
  </div>
</div>
