<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="columnsCount">No of columns</label>
      <input
        nbInput
        type="number"
        id="columnsCount"
        fullWidth
        [(ngModel)]="question.columnsCount"
        class="form-control"
        min="2"
        max="3"
        (change)="columnCountChange()"
        placeholder="No of Columns"
        [disabled]="question.id"
      />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="rowsCount">No of rows</label>
      <input
        nbInput
        type="number"
        id="rowsCount"
        fullWidth
        [(ngModel)]="question.rowsCount"
        min="1"
        max="20"
        class="form-control"
        (change)="rowCountChange()"
        placeholder="No of rows"
        [disabled]="question.id"
      />
    </div>
  </div>
  <div class="col-sm-12" *ngIf="question.optionsArray && question.optionsArray.length">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="columnsCount">Actions</label>
          <input nbInput fullWidth class="form-control" placeholder="Actions" [(ngModel)]="question.actionTitle" />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="columnsCount">Effective</label>
          <!-- <select
            nbSelect
            id="effective"
            fullWidth
            [(ngModel)]="question.effective"
            class="form-control"
            placeholder="Select Effective"
          >
            <option value="">Select Effective</option>
            <option value="Understanding">Understanding</option>
            <option value="Helpful">Helpful</option>
            <option value="Anticipated">Anticipated</option>
            <option value="Indicated">Indicated</option>
            <option value="Essential">Essential</option>
            <option value="Anticipated">Anticipated</option>
            <option value="Risk factor">Risk factor</option>
            <option value="Improved">Improved</option>
          </select> -->
          <input
            nbInput
            fullWidth
            id="effective"
            class="form-control"
            placeholder="Write Effective"
            [(ngModel)]="question.effective"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="columnsCount">Ineffective</label>
          <!-- <select
            nbSelect
            id="ineffective"
            fullWidth
            [(ngModel)]="question.ineffective"
            class="form-control"
            placeholder="Select Ineffective"
          >
            <option value="">Select Ineffective</option>
            <option value="Declined">Declined</option>
            <option value="No understanding">No understanding</option>
            <option value="Not helpful">Not helpful</option>
            <option value="Not anticipated">Not anticipated</option>
            <option value="Not Indicated">Not Indicated</option>
            <option value="Contradicted">Contradicted</option>
            <option value="Not risk factor">Not risk factor</option>
            <option value="Nonessential">Nonessential</option>
          </select> -->
          <input
            id="ineffective"
            nbInput
            fullWidth
            class="form-control"
            placeholder="Write Ineffective"
            [(ngModel)]="question.ineffective"
          />
        </div>
      </div>
      <div class="col-sm-3" *ngIf="question.columnsCount === 3">
        <div class="form-group">
          <label for="columnsCount">Unrelated</label>
          <!-- <select
            nbSelect
            id="unrelated"
            fullWidth
            [(ngModel)]="question.unrelated"
            class="form-control"
            placeholder="Select Unrelated"
          >
            <option value="">Select Unrelated</option>
            <option value="Unchanged">Unchanged</option>
            <option value="Contraindicated">Contraindicated</option>
          </select> -->
          <input
            id="unrelated"
            nbInput
            fullWidth
            class="form-control"
            placeholder="Write Unrelated"
            [(ngModel)]="question.unrelated"
          />
        </div>
      </div>
    </div>
    <div class="row" *ngFor="let item of question.optionsArray; let i = index">
      <div class="col-sm-3">
        <div class="form-group">
          <input nbInput fullWidth class="form-control" [(ngModel)]="item.value" />
        </div>
      </div>
      <div class="col-sm-3" *ngFor="let optionItem of item.options; let optionIndex = index">
        <div class="form-group">
          <input
            type="radio"
            [name]="(question?.id || question?._id) + '-item-' + i + '-option-' + optionIndex"
            [value]="optionIndex"
            [(ngModel)]="question.optionsArray[i].correctOption"
          />
        </div>
      </div>
    </div>
  </div>
</div>
