<div>
  <div class="row">
    <!-- Question Title -->
    <div class="col-sm-12 mb-3 question-title">
      <ngx-sanatize-html-string [htmlString]="question?.title"></ngx-sanatize-html-string>
    </div>
  </div>

  <div *ngIf="question && question.type === 'MULTIPLE_CHOICE'">
    <ngx-view-multiple-choice [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-multiple-choice>
  </div>
  <div *ngIf="question && question.type === 'MULTIPLE_RESPONSE'">
    <ngx-view-multiple-response [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-multiple-response>
  </div>
  <div *ngIf="question && question.type === 'CHART_EXHIBIT'">
    <ngx-view-chart-exhibit [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-chart-exhibit>
  </div>
  <div *ngIf="question && question.type === 'FILL_IN_THE_BLANKS'">
    <ngx-view-fill-in-the-blanks [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-fill-in-the-blanks>
  </div>
  <div *ngIf="question && question.type === 'MULTIPLE_RESPONSE_N'">
    <ngx-view-multiple-response-n
      [question]="question"
      (submitAnswer)="onSubmit($event)"
    ></ngx-view-multiple-response-n>
  </div>
  <div *ngIf="question && question.type === 'AUDIO'">
    <ngx-view-audio [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-audio>
  </div>
  <div *ngIf="question && question.type === 'VIDEO'">
    <ngx-view-video [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-video>
  </div>
  <div *ngIf="question && question.type === 'DRAG_DROP_ORDERED_RESPONSE'">
    <ngx-view-drag-drop-ordered-response
      [question]="question"
      (submitAnswer)="onSubmit($event)"
    ></ngx-view-drag-drop-ordered-response>
  </div>
  <div *ngIf="question && question.type === 'MATRIX_MULTIPLE_CHOICE'">
    <ngx-view-matrix-multiple-choice
      [question]="question"
      (submitAnswer)="onSubmit($event)"
    ></ngx-view-matrix-multiple-choice>
  </div>
  <div *ngIf="question && question.type === 'MATRIX_MULTIPLE_RESPONSE'">
    <ngx-view-matrix-multiple-response
      [question]="question"
      (submitAnswer)="onSubmit($event)"
    ></ngx-view-matrix-multiple-response>
  </div>
  <div *ngIf="question && question.type === 'MULTIPLE_RESPONSE_GROUPING'">
    <ngx-view-multiple-response-grouping
      [question]="question"
      (submitAnswer)="onSubmit($event)"
    ></ngx-view-multiple-response-grouping>
  </div>
  <div *ngIf="question && question.type === 'DROP_DOWN_TABLE'">
    <ngx-view-drop-down-table [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-drop-down-table>
  </div>
  <div *ngIf="question && question.type === 'GRAPHIC_IN_QUESTION'">
    <ngx-view-graphic-in-question
      [question]="question"
      (submitAnswer)="onSubmit($event)"
    ></ngx-view-graphic-in-question>
  </div>
  <div *ngIf="question && question.type === 'GRAPHIC_IN_ANSWER'">
    <ngx-view-graphic-in-answer [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-graphic-in-answer>
  </div>
  <div *ngIf="question && question.type === 'DROP_DOWN_CLOZE'">
    <ngx-view-drop-down-cloze [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-drop-down-cloze>
  </div>
  <div *ngIf="question && question.type === 'DRAG_DROP_CLOZE'">
    <ngx-view-drag-drop-cloze [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-drag-drop-cloze>
  </div>

  <div *ngIf="question && question.type === EQuestionType.DRAG_DROP_DYADS">
    <ngx-view-drag-drop-dyads [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-drag-drop-dyads>
  </div>

  <div *ngIf="question && question.type === EQuestionType.DROP_DOWN_DYADS">
    <ngx-view-drop-down-dyads [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-drop-down-dyads>
  </div>

  <div *ngIf="question && question.type === EQuestionType.DROP_DOWN_TRIADS">
    <ngx-view-drop-down-triads [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-drop-down-triads>
  </div>

  <div *ngIf="question && question.type === EQuestionType.DRAG_DROP_TRIADS">
    <ngx-view-drag-drop-triads [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-drag-drop-triads>
  </div>

  <div *ngIf="question && question.type === 'HIGHLIGHT_TEXT'">
    <ngx-view-highlight-text [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-highlight-text>
  </div>

  <div *ngIf="question && question.type === 'HIGHLIGHT_TABLE'">
    <ngx-view-highlight-table [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-highlight-table>
  </div>

  <div *ngIf="question && question.type === 'BOWTIE'">
    <ngx-view-bow-tie [question]="question" (submitAnswer)="onSubmit($event)"></ngx-view-bow-tie>
  </div>

  <div *ngIf="isQuestionAttempted && question?.showAnswer" class="scoring-buttons">
    <button size="small" nbButton>Max marks: {{ question?.marks }}</button>

    <button size="small" nbButton>Obtained: {{ question?.marksObtained }}</button>

    <button size="small" [nbPopover]="appliedScoringRule.description" nbPopoverTrigger="hint" nbButton>
      {{ appliedScoringRule?.rule }} scoring rule
    </button>
  </div>

  <div class="mt-2" *ngIf="showExplanation">
    <ngx-explanation *ngIf="question?.explanation" [explanation]="question?.explanation"></ngx-explanation>
  </div>
  <div class="mt-2 row" *ngIf="showReturnToExplanationButton">
    <button class="col-12 text-wrap" size="tiny" nbButton status="warning">
      Please click "Previous" to return to this explanation after answering all items in this set
    </button>
  </div>
</div>
