<div class="users-table">
  <!-- Scroll to top button on the page -->
  <ngx-scroll-to-top></ngx-scroll-to-top>

  <nb-card>
    <nb-card-body class="table-outer-container">
      <nb-tabset (changeTab)="changeTab($event)">
        <nb-tab tabTitle="Students" tabId="user">
          <app-smart-table
            *ngIf="activeTab === 'user'"
            [tableSettings]="tableSettings"
            [addButton]="'Add Student'"
            [columns]="tableColumns"
            [dataSource]="dataSource"
            [isServerSide]="true"
            (onCustomAction)="onCustomAction($event)"
          >
          </app-smart-table>
        </nb-tab>
        <nb-tab tabTitle="Subscribers" tabId="subscriber">
          <app-smart-table
            *ngIf="activeTab === 'subscriber'"
            [tableSettings]="tableSettings"
            [columns]="tableColumns"
            [dataSource]="dataSource"
            [isServerSide]="true"
            (onCustomAction)="onCustomAction($event)"
          >
          </app-smart-table>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>
