<div class="page-container">
  <div class="section-header">
    <h1 style="padding: 75px;">Refund Policy</h1>
  </div>
  <div class="section-container">
    <div class="wrapper">
      <div class="container-text">
          <div class="content">
            <h5 class="mt-6">Overview</h5>
            
              <p>Our refund policy is designed to be fair and transparent. Please review the following terms carefully:</p>
              <ul>
                <li>
                  Except as otherwise provided in this agreement or at the sole discretion of Rudraa Academy, no refunds,
                  cancellations, or changes to subscriptions will be allowed.
                </li>
                <li>
                  Rudraa Academy Inc reserves the right to refuse a refund if the subscriber or user is found to be in
                  violation of this agreement.
                </li>
                <li>Refunds may be refused if the user is found to be acting against Rudraa Academy's interests.</li>
                <li>By subscribing to our services, you acknowledge and agree to these terms.</li>
              </ul>
              <p>
                As our products are digital in nature, once a purchase is made and access to the content is granted, we
                cannot provide refunds under any circumstances.
              </p>
  
              <h5>Customer Acknowledgment</h5>
              <p>
                By subscribing to our services or purchasing our digital products, you acknowledge and agree to the terms
                outlined in this Refund Policy. It is your responsibility to understand and accept these terms before making
                a purchase.
              </p>
          </div>
          <div class="content-footer">
            <h5 class="section-title">Contact Us</h5>
            <p>If you have any questions or concerns regarding our refund policy, you may contact us at:</p>
            <p>Email: <a href="mailto:support@vegus.us">support@vegus.us</a></p>
          </div>
      </div>
    </div>
  </div>
</div>