<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="rowsCount">No of rows</label>
      <input
        nbInput
        type="number"
        id="rowsCount"
        fullWidth
        [(ngModel)]="question.rowsCount"
        class="form-control"
        (change)="rowsCountChange()"
        placeholder="No of rows"
      />
    </div>
  </div>
  <div class="col-sm-6"></div>
  <div class="col-sm-12" *ngIf="question && question.optionsArray && question.optionsArray.length">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">
            <input nbInput fullWidth class="form-control" placeholder="Heading" [(ngModel)]="question.heading1" />
          </th>
          <th scope="col">
            <input nbInput fullWidth class="form-control" placeholder="Heading" [(ngModel)]="question.heading2" />
          </th>
          <th scope="col">Answer (selected)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of question.optionsArray; let i = index">
          <td>
            <input nbInput fullWidth class="form-control" placeholder="Option Title" [(ngModel)]="item.title" />
          </td>
          <td>
            <textarea
              nbInput
              [(ngModel)]="item.content"
              fullWidth
              placeholder="Write here"
              (change)="contentChanged(item, i)"
            ></textarea>
          </td>
          <td>
            <table class="table table-bordered table-sm" *ngIf="item.allOptions && item.allOptions.length">
              <tbody>
                <tr *ngFor="let item_ of item.allOptions">
                  <td>
                    <nb-checkbox [(ngModel)]="item_.correct">{{ item_.value }}</nb-checkbox>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
