<div class="case-studies-table">
  <!-- Scroll to top button on the page -->
  <ngx-scroll-to-top></ngx-scroll-to-top>
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="category">Category</label>
            <select
              nbSelect
              id="category"
              fullWidth
              [(ngModel)]="category"
              class="form-control"
              placeholder="Select Category"
              (change)="categoryChange()"
            >
              <option value="">Select Category</option>
              <option [value]="item.id" *ngFor="let item of allCategories">{{ item.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="subCategory">Sub Category</label>
            <select
              nbSelect
              id="subCategory"
              fullWidth
              [(ngModel)]="subCategory"
              class="form-control"
              placeholder="Select Sub Category"
              (change)="subCategoryChange()"
            >
              <option value="">Select Sub Category</option>
              <option [value]="item.id" *ngFor="let item of allSubCategories">{{ item.name }}</option>
            </select>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <app-smart-table
    [title]="'Case Studies'"
    [tableSettings]="tableSettings"
    [addButton]="'Case Study'"
    [columns]="tableColumns"
    [dataSource]="dataSource"
    [isServerSide]="true"
    (onCustomAction)="onCustomAction($event)"
    (onUserRowSelect)="onUserRowSelect($event)"
    [tableActions]="tableActions"
  >
  </app-smart-table>
</div>
