<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="optionsCount">No of options</label>
      <input
        nbInput
        type="number"
        id="optionsCount"
        fullWidth
        [(ngModel)]="question.optionsCount"
        class="form-control"
        (change)="optionCountChange()"
        placeholder="No of options"
      />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="chartExhibitTitle">Exhibit Title</label>
      <input
        nbInput
        id="chartExhibitTitle"
        fullWidth
        [(ngModel)]="question.chartExhibitTitle"
        class="form-control"
        placeholder="Exhibit Title"
      />
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label for="chartExhibit">Chart/Exhibit</label>
      <ngx-text-editor
        [(editorValue)]="question.chartExhibit"
        [module]="'question'"
        [id]="questionId"
      ></ngx-text-editor>
    </div>
  </div>

  <div class="col-sm-6" *ngFor="let item of question.optionsArray; let i = index">
    <div class="form-group">
      <label for="type"
        >Option {{ i + 1 }}
        <input
          type="radio"
          name="options"
          [value]="i"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="question.correctOption"
      /></label>
      <input nbInput fullWidth class="form-control" [(ngModel)]="item.value" />
    </div>
  </div>
</div>
