<nb-layout>
    <nb-layout-column>
        <div class="auth-container">
            <nb-card class="auth-container-card">
                <nb-card-header>
                    <p class="logo">
                        <img src="assets/images/logo-black.png" alt="Vegus" />
                    </p>
                </nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-sm-6 col-12 col-lg-4" *ngFor="let item of pricing">
                            <nb-card>
                                <nb-card-body>
                                    <div>
                                        <h2 class="text-center">{{item.name}}</h2>
                                        <p class="mb-50">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        <button nbButton fullWidth status="primary" size="medium" [class.btn-pulse]="submitted">
                                            Starting at ${{item.price}} for {{item.duration}} Days
                                        </button>
                                        <br />
                                        <br />
                                        <button nbButton fullWidth status="warning" size="medium" [class.btn-pulse]="submitted">
                                            Learn More
                                        </button>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </nb-layout-column>
</nb-layout>