<div class="row multiple-response-grouping-view">
  <div class="col-sm-12" *ngIf="question.optionsArray && question.optionsArray.length">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col" class="col-4">{{ question.heading1 }}</th>
          <th scope="col" class="col-8">{{ question.heading2 }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of question.optionsArray; let i = index">
          <td>
            <label>{{ item.value }}</label>
          </td>
          <td>
            <div *ngFor="let optionItem of item.options; let optionIndex = index">
              <!-- When student is seeing this in the report section -->
              <span class="tick-close-icon-container" *ngIf="question?.showAnswer">
                <nb-icon
                  *ngIf="optionItem.isCorrect"
                  [status]="'success'"
                  [icon]="'checkmark-circle-2-outline'"
                ></nb-icon>
                <nb-icon
                  *ngIf="optionItem.userSelectedAnswer && !optionItem.isCorrect"
                  [status]="'danger'"
                  [icon]="'close-circle-outline'"
                ></nb-icon>
              </span>

              <nb-checkbox [disabled]="question?.isAttempted" [(ngModel)]="optionItem.userSelectedAnswer">{{
                optionItem.value
              }}</nb-checkbox>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-12 mt-2" *ngIf="!question?.isAttempted">
    <button status="primary" nbButton (click)="submit()">Submit</button>
  </div>
</div>
