<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="optionsCount">Body</label>
      <textarea
        rows="6"
        nbInput
        [(ngModel)]="question.content"
        fullWidth
        placeholder="Write here"
        (change)="contentChanged()"
      ></textarea>
      <p>Please use this syntax to add the fillups b/w the text: [[Fillup_1]], [[Fillup_2]], [[Fillup_3]]</p>
    </div>
  </div>
  <div class="col-6" *ngIf="question?.allOptions && question?.allOptions.length">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of question?.allOptions">
          <td>
            <nb-checkbox [(ngModel)]="item.correct">{{ item.value }}</nb-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
