<div class="footer-container">
  <!-- <span class="created-by">Created with ♥ by <b>Tanuj</b> {{ currentYear }}</span> -->
  <!-- <span class="created-by">Copyright All Rights Reserved ©  Vegus</span> -->
  <span class="created-by">Vegus © {{ currentYear }} All Rights Reserved</span>
  <div class="links">
    <!-- <a [routerLink]="['/home']">Home</a> -->
    <!-- <a [routerLink]="['/about-us']">About Us</a> -->
    <a [routerLink]="['/terms-and-conditions']">Terms & Conditions</a>
    <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
    <a [routerLink]="['/refund-policy']">Refund Policy</a>
  </div>
</div>
