<div class="join-us-section-container">
  <section class="bg-dark-blue join-us-section">
    <div class="section-area p-6">
      <div class="d-grid half-col">
        <div class="col p-6 text-box">
          <h1 class="text-white">Sign Up for Instructor-Led Classes?</h1>
          <p class="text-white">
            {{ text }}
          </p>
          <br />
          <a [routerLink]="['/auth/register']" class="btn cta-button bg-white text-dark-blue"> Sign Up </a>
        </div>
        <div class="col">
          <div class="d-flex h-100">
            <img src="assets/images/home-joinus-img.png" width="400px" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
