<div class="row">
  <div class="col-12">
    <div class="row" cdkDropListGroup>
      <div class="col-sm-12 question-description text-justify">
        <span class="lh-1-5" *ngFor="let item of content; let contentIndex = index">
          <ng-container *ngIf="item.type === 'fillup'">
            <span *ngIf="userType === 'student' && viewMode === 'report'">
              <nb-icon
                [status]="item.userSelectedAnswer[0] === item.correct[0] ? 'success' : 'danger'"
                [icon]="
                  item.userSelectedAnswer[0] === item.correct[0] ? 'checkmark-circle-2-outline' : 'close-circle-outline'
                "
              ></nb-icon>
            </span>
            <span
              class="example-list-fillup"
              cdkDropList
              [cdkDropListData]="item.userSelectedAnswer"
              (cdkDropListDropped)="onDrop($event)"
            >
              <span *ngIf="item.userSelectedAnswer && item.userSelectedAnswer.length" cdkDrag>
                {{ item.userSelectedAnswer[0] }}
              </span>
              <span *ngIf="!(item.userSelectedAnswer && item.userSelectedAnswer.length)"></span>
            </span>
            <span *ngIf="(userType === 'student' && viewMode === 'report') || (userType === 'admin' && showAnswer)">
              <button class="ml-1" size="tiny" nbButton outline status="info">
                {{ item.correct[0] }}
              </button>
            </span>
          </ng-container>

          <ng-container *ngIf="item.type === 'newline'">
            <br />
          </ng-container>

          <ng-container *ngIf="item.type === 'text'">
            <span>{{ item.value }}</span>
          </ng-container>
        </span>
      </div>

      <div class="example-container col-sm-12">
        <div
          cdkDropList
          [cdkDropListData]="question?.allOptions"
          [cdkDropListDisabled]="
            (userType === 'student' && viewMode === 'report') || (userType === 'admin' && showAnswer)
          "
          class="example-list"
          (cdkDropListDropped)="droptoList($event)"
        >
          <div class="example-box-parent" *ngFor="let item of question?.allOptions" cdkDrag>
            <div class="example-box">{{ item }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mt-2">
    <button status="primary" nbButton (click)="submit()">
      {{ userType == 'student' && viewMode == 'exam' ? 'Submit' : 'Next' }}
    </button>
    &nbsp;
    <button *ngIf="userType === 'admin'" nbButton outline status="primary" (click)="toggleViewAnswer()">
      <span *ngIf="!showAnswer">View Answer</span>
      <span *ngIf="showAnswer">Hide Answer</span>
    </button>
  </div>
</div>
