<div class="row">
  <div class="col-sm-12 text-justify">
    <span class="lh-1-5" *ngFor="let item of content; let contentIndex = index">
      <ng-container *ngIf="item.type === 'fillup'">
        <span *ngIf="question?.showAnswer">
          <nb-icon
            [status]="question.userSelectedAnswer[item.key] === question[item.key].correct ? 'success' : 'danger'"
            [icon]="
              question.userSelectedAnswer[item.key] === question[item.key].correct
                ? 'checkmark-circle-2-outline'
                : 'close-circle-outline'
            "
          ></nb-icon>
        </span>
        <span>
          <select
            size="small"
            nbSelect
            class="select-box"
            [disabled]="question?.isAttempted"
            [(ngModel)]="question.userSelectedAnswer[item.key]"
            placeholder="Select Category"
          >
            <option value="">Select</option>
            <option [value]="selectOption" *ngFor="let selectOption of question[item.key].options">
              {{ selectOption }}
            </option>
          </select>
        </span>
        <span *ngIf="question?.showAnswer">
          <button class="ml-1" size="tiny" nbButton outline status="info">
            {{ question[item.key].correct }}
          </button>
        </span>
      </ng-container>

      <ng-container *ngIf="item.type === 'newline'">
        <br />
      </ng-container>

      <ng-container *ngIf="item.type === 'text'">
        <span>{{ item.value }}</span>
      </ng-container>
    </span>
  </div>

  <div class="col-12 mt-2" *ngIf="!question?.isAttempted">
    <button status="primary" nbButton (click)="submit()">Submit</button>
  </div>
</div>
