.select-box {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 32px;
    cursor: pointer;
  }
  
  @import '../../../../../@theme/styles/themes.scss';
  
  @include nb-install-component() {
    ::ng-deep {
      .lh-1-5 {
        line-height: 2.5;
      }
    }
  }
  