<div class="home-page-container">
  <section class="banner-section">
    <div class="section-area">
      <div class="d-grid half-col">
        <div class="col text-box">
          <div class="p-6">
            <p class="secondary-heading">Learning Platform</p>
            <h1 class="main-heading">Empower Your Journey to Nursing Excellence!</h1>
            <p class="sub-heading">
              We will become your shadow until you achieve your dream. Count on us to accompany you until you achieve
              your aspirations.
            </p>
            <br /><br />
            <a (click)="goToSignUp()" class="btn cta-button mb-5"> Sign Up </a>
          </div>
        </div>
        <div class="col">
          <div class="banner-img d-flex h-100">
            <img src="assets/images/home-banner-image.png" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="number-section">
    <div class="container">
      <div class="d-flex">
        <div class="col">
          <h3>2,300</h3>
          <p>Comprehensive</p>
        </div>
        <div class="col">
          <h3>500+</h3>
          <p>NCLEX Questions</p>
        </div>
        <div class="col">
          <h3>3,000+</h3>
          <p>Reviews</p>
        </div>
      </div>
    </div>
  </section>

  <section id="subscription-plans" class="subscription-section">
    <h2>Flexible Options for Classes and Self-Study</h2>
    <div class="plans-container">
      <div class="plan-card">
        <nb-badge text="Class Enrolled" status="warning"></nb-badge>
        <h3>Class Enrollment</h3>
        <ul class="features-list">
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> Guided Lectures in Live Classes</li>
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> 2,300+ Practice Questions</li>
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> 500+ NGN Questions</li>
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> High-Yield Review Videos</li>
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> Adaptive (CAT) Practice Tests</li>
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> Digital Flashcards</li>
          <li>
            <nb-icon icon="arrow-circle-right-outline"></nb-icon>
            <span class="highlight">Self-Assessments</span>
          </li>
        </ul>
        <br />
        <button [routerLink]="['auth/register']">Sign Up for Live Classes</button>
      </div>
      <div class="plan-card" *ngFor="let plan of plans">
        <nb-badge text="Self Enrolled" status="success"></nb-badge>
        <h3>{{ plan.name }}</h3>
        <p>({{ plan.duration }}-Day Access)</p>
        <div class="price" *ngIf="plan.hasDiscount">
          ${{ plan.finalPrice }} <span class="old-price">${{ plan.price }}</span>
        </div>
        <div class="price" *ngIf="!plan.hasDiscount">${{ plan.price }}</div>
        <ul class="features-list">
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> 2,300+ Practice Questions</li>
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> 500+ NGN Questions</li>
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> High-Yield Review Videos</li>
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> Adaptive (CAT) Practice Tests</li>
          <li><nb-icon icon="arrow-circle-right-outline"></nb-icon> Digital Flashcards</li>
          <li>
            <nb-icon icon="arrow-circle-right-outline"></nb-icon>
            <span class="highlight">{{ plan?.features?.assessments }} Self-Assessments</span>
          </li>
        </ul>
        <br />
        <button [routerLink]="['auth/register']" [queryParams]="{plan: plan.id}">Buy Now</button>
      </div>
    </div>
  </section>

  <!-- <section id="features" class="services-section">
    <h4 class="text-center">Features</h4>
    <h2 class="text-center">Customized study plans</h2>

    <div class="services-grid">
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check" /></div>
        <h3>Pass Your NCLEX-RN Exam on Your First Attempt!</h3>
        <p>
          At Rudraa Academy, we understand that the journey to becoming a registered nurse is both challenging and
          rewarding. Our dedicated NCLEX-RN coaching program is designed to ensure you pass your exam on your first
          attempt, setting you on the path to a successful nursing career.
        </p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check" /></div>
        <h3>Proven Track Record</h3>
        <p>
          Our students achieve an exceptional pass rate that is 99.9% on the NCLEX-RN exam. With our comprehensive study
          materials and expert guidance, you'll feel confident and prepared.
        </p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check" /></div>
        <h3>Expert Instructor</h3>
        <p>
          Learn from experienced family nurse practitioner, Sneha Patel, who know the exam inside and out, her way of
          thinking and assessing techniques for real life patients help her to train her students to think critically
          and solve case study with ease. Our instructor provides personalized support, ensuring you grasp complex
          concepts and strategies.
        </p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check" /></div>
        <h3>Tailored Study Plans</h3>
        <p>
          Every student is unique. We create customized study plans based on your strengths and weaknesses, helping you
          focus on what matters most.
        </p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check" /></div>
        <h3>Comprehensive Resources</h3>
        <p>
          Gain access to a wealth of resources, including practice exams, study guides, and interactive learning Videos.
          Our library of materials is designed to reinforce your knowledge and build test-taking skills.
        </p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check" /></div>
        <h3>Flexible Learning Options</h3>
        <p>
          Whether you prefer live virtual classes, online self-paced course, or hybrid models, we offer flexible
          learning options to fit your busy schedule. Learn at your own pace while receiving ongoing support.
        </p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check" /></div>
        <h3>Test-Taking Strategies</h3>
        <p>
          Master the art of test-taking with our expert strategies. We teach you how to approach different question
          types, manage your time effectively, and reduce test anxiety.
        </p>
      </div>
    </div>
  </section> -->

  <section class="bg-blue">
    <div class="section-area">
      <!-- <div class="d-grid half-col"> -->
      <div class="d-grid">
        <!-- <div class="col">
          <div class="d-flex h-100">
            <img src="assets/images/test-paper.png" width="400px" alt="doctor" srcset="" />
          </div>
        </div> -->
        <div class="col p-6 text-box">
          <p class="secondary-heading">Best Educators</p>
          <h1 class="main-heading">NCLEX Readiness Assessments</h1>
          <p class="sub-heading">
            Written by practicing providers and educators & designed to adaptively test exactly like the real NCLEX.
          </p>
          <p class="sub-heading">
            Performance insights let you know if you're ready for exam day & what topics you need to focus on to pass.
          </p>
          <br /><br />
        </div>
      </div>
    </div>
  </section>

  <section class="faq-section">
    <h2>FAQs</h2>

    <div *ngFor="let item of faqItems; let i = index" class="faq-item">
      <div class="faq-question" (click)="toggleItem(i)">
        <span>{{ item.question }}</span>
        <span class="faq-icon">{{ openItemIndex === i ? '-' : '+' }}</span>
      </div>
      <div *ngIf="openItemIndex === i" class="faq-answer">
        <p [innerHTML]="item.answer"></p>
      </div>
    </div>
  </section>

  <ngx-website-join-us-section
    text="Your dream of becoming a registered nurse is within reach. Enroll in Rudraa Academy NCLEX-RN Exam Coaching
  Center today and take the first step towards passing your exam on your first attempt."
  ></ngx-website-join-us-section>
</div>
