<div class="home-page-container">
  <div class="wrapper">
    <h1 class="main-heading">Rudraa Academy For Nclex</h1>
    <div class="container-text">
      <nb-card>
        <nb-card-header>Our Mission: Rudraa academy is the Center for excellence</nb-card-header>

        <nb-card-body>
          <div class="row">
            <div class="col-3">
              <div class="banner-image">
                <img src="assets/images/banner.jpeg" alt="nclex" />
              </div>
            </div>
            <div class="col-9">
              <p>
                Rudraa Academy is solely run by Sneha Patel. She graduated her B.sc Nursing program from Srinivas
                Institute of Nursing, Mangalore, Karnataka, India. She received her Master in Nursing in Community
                Health Nursing from Gujarat Institute of Nursing Education and Research, Ahmedabad, Gujarat, India in
                2014. Her curiosity to operate Dialysis machines drove her to receive diploma certificate of Dialysis
                technician from IKDRTC kidney hospital, Ahmedabad, Gujarat, India. She has been Nurse for more than 12
                years. She has received nursing experience in almost all the fields like Renal Transplant unit, Dialysis
                unit, Gastro intestinal unit, Medical surgical ICU. She also has worked as a Community heath home
                visiting nurse and she also has worked as a clinical instructor and lecturer in some nursing colleges in
                India. This was not enough for her. Her knowledge seeking attitude, enthusiasm encouraged her to get
                more experience outside of country and so she pursued her MSN in Family Nurse Practitioner in 2020 from
                United state University, California USA. She keeps encouraging and motivating her students to do their
                best in their field. She is very friendly with her students and so students find themselves very
                comfortable and satisfied with her while studying. Students who have language barrier to understand the
                review get extra assistance from Instructor to get pass Nclex. Her leadership, outstanding clinical
                performance has achieved her many honors. She attends many National and International conferences
                related to nursing education and Nclex and keep her knowledge updated to give more better and better to
                her students.
              </p>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          We believe that every one has born to succeed. It is just the matter of choosing right path of ground work.
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
