<div class="home-page-container">
  <section class="banner-section">
    <div class="section-area">
      <div class="d-grid half-col">
        <div class="col p-6 text-box">
          <p class="secondary-heading">Learning Platform</p>
          <h1 class="main-heading">Publishing and Graphic Design at the Medical Institute</h1>
          <p class="sub-heading">Our team of specialists is dedicated to improving patient outcomes through innovative
            treatments and personalized care.</p><br><br>
          <a href="#" class="btn cta-button mb-5">
            Agende sua consulta
          </a>
        </div>
        <div class="col">
          <div class="banner-img d-flex h-100">
            <img src="assets/images/home-banner-image.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="number-section">
    <div class="container">
      <div class="d-flex">
        <div class="col">
          <h3>+3.500</h3>
        </div>
        <div class="col">
          <h3>+15</h3>
        </div>
        <div class="col">
          <h3>+10</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="services-section">
    <h4 class="text-center">SERVIÇOS</h4>
    <h2 class="text-center">Como podemos ajudá-lo a se sentir melhor?</h2>

    <div class="services-grid">
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check"></div>
        <h3>Problemas digestivos</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
          duis enim.</p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check"></div>
        <h3>Saúde Hormonal</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
          duis enim.</p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check"></div>
        <h3>Bem-estar mental</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
          duis enim.</p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check"></div>
        <h3>Cuidados Pediátricos</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
          duis enim.</p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check"></div>
        <h3>Autoimune e Inflamação</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
          duis enim.</p>
      </div>
      <div class="service-card">
        <div class="service-icon"><img src="assets/images/check.png" alt="check"></div>
        <h3>Saúde do Coração</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
          duis enim.</p>
      </div>
    </div>
  </section>
  <section class="bg-blue">
    <div class="section-area ">
      <div class="d-grid half-col">
        <div class="col">
          <div class="d-flex h-100">
            <img src="assets/images/doctor.png" width="400px" alt="" srcset="">
          </div>
        </div>
        <div class="col p-6 text-box">
          <p class="secondary-heading">Learning Platform</p>
          <h1 class="main-heading">Publishing and Graphic Design at the Medical Institute</h1>
          <p class="sub-heading">At the Medical Institute, we provide comprehensive resources for health professionals
            and patients alike.</p><br><br>

        </div>
      </div>
    </div>
  </section>
  <section class="subscription-section">
    <h2>Choose Your Plan</h2>
    <div class="plans-container">
      <!-- Basic Plan Card -->
      <div class="plan-card">
        <h3 class="secondary-heading">Basic Plan</h3>
        <div class="price">$9.99/month</div>
        <ul>
          <li>1 Test</li>
          <li>Basic Support</li>
          <li>Community Access</li>
        </ul><br>
        <button>Select Plan</button>
      </div>

      <!-- Standard Plan Card -->
      <div class="plan-card">
        <h3 class="secondary-heading">Standard Plan</h3>
        <div class="price">$19.99/month</div>
        <ul>
          <li>5 Test</li>
          <li>Priority Support</li>
          <li>Access to Pro Features</li>
        </ul><br>
        <button>Select Plan</button>
      </div>

      <!-- Premium Plan Card -->
      <div class="plan-card">
        <h3 class="secondary-heading">Premium Plan</h3>
        <div class="price">$29.99/month</div>
        <ul>
          <li>10 Test</li>
          <li>Dedicated Support</li>
          <li>All Features Access</li>
        </ul><br>
        <button>Select Plan</button>
      </div>
    </div>
  </section>
  <section class="faq-section">
    <h2>FAQs</h2>
    
    <div *ngFor="let item of faqItems; let i = index" class="faq-item">
      <div class="faq-question" (click)="toggleItem(i)">
        <span>{{ item.question }}</span>
        <span class="faq-icon">{{ openItemIndex === i ? '-' : '+' }}</span>
      </div>
      <div *ngIf="openItemIndex === i" class="faq-answer">
        <p [innerHTML]="item.answer"></p>
      </div>
    </div>
  </section>
  
  <section class="bg-dark-blue">
    <div class="section-area p-6">
      <div class="d-grid half-col">
        <div class="col p-6 text-box">
          <h1 class="text-white">Join Us?</h1>
          <p class="text-white">Join us at the Medical Institute for cutting-edge research and patient-centered care.
          </p><br>
          <a href="#" class="btn cta-button bg-white text-dark-blue">
            Apply Now
          </a>
        </div>
        <div class="col">
          <div class="d-flex h-100">
            <img src="assets/images/home-joinus-img.png" width="400px" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>