@import './../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  ::ng-deep .video-view-dialog {
    width: 95vw;
    margin: 0 auto;

    nb-card.video-view-dialog-card {
      height: calc(100vh - 50px);
    }
  }
}
.video-container {
  display: flex;
  justify-content: center;

  video {
    width: auto;
    overflow: hidden;
    height: calc(100vh - 150px);
  }
}
