<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="optionsCount">Body</label>
      <textarea rows="6" nbInput [(ngModel)]="question.content" fullWidth placeholder="Write here"></textarea>
      <p>
        Please use this syntax to add the fillups b/w the text: [[Fillup_1]], [[Fillup_2]], [[Fillup_3]]. Note Answer
        should be accepted in any order
      </p>
    </div>
  </div>

  <div class="col-12">
    <div class="mt-2 mb-2">
      <mat-chip-list>
        <mat-chip
          *ngFor="let itemOption of question.allOptions; let i = index"
          [removable]="true"
          (removed)="remove(itemOption)"
        >
          {{ itemOption }}
          <nb-icon icon="close-outline" matChipRemove></nb-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <input nbInput class="form-control" placeholder="Write options" [(ngModel)]="optionInput" (change)="addOption()" />
  </div>

  <div class="col-sm-6 mt-2 mb-2">
    <div class="form-group">
      <label for="fillupsCount">No. of Fill ups</label>
      <input
        nbInput
        type="number"
        id="fillupsCount"
        fullWidth
        [(ngModel)]="question.fillupsCount"
        class="form-control"
        (change)="fillupsCountChange()"
        placeholder="No of fill ups"
      />
    </div>
  </div>

  <div class="col-sm-6"></div>
  <div class="col-sm-12" *ngIf="question.fillups && question.fillups.length">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">Fill up no.</th>
          <th scope="col">Correct Answer, User can fill the answer in any order</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fillup of question.fillups; let i = index">
          <td>{{ fillup.label }}</td>
          <td>
            <select
              nbSelect
              id="correct"
              fullWidth
              [(ngModel)]="fillup.value"
              class="form-control"
              placeholder="Select answer"
            >
              <option value="">Select answer</option>
              <option [value]="item" *ngFor="let item of selectableOptions(fillup)">{{ item }}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
