<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label for="optionsCount">Body</label>
      <textarea rows="6" nbInput [(ngModel)]="question.content" fullWidth placeholder="Write here"></textarea>
      <p>Please use this syntax to add the fillups b/w the text: [[Fillup_1]], [[Fillup_2]], [[Fillup_3]]</p>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label for="fillupsCount">No. of Fill ups</label>
      <input
        nbInput
        type="number"
        id="fillupsCount"
        fullWidth
        [(ngModel)]="question.fillupsCount"
        class="form-control"
        (change)="fillupsCountChange()"
        placeholder="No of fill ups"
      />
    </div>
  </div>

  <div class="col-sm-6"></div>
  <div class="col-sm-12" *ngIf="question.optionsArray && question.optionsArray.length">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">Fill up no.</th>
          <th scope="col">Options</th>
          <th scope="col">Correct Answer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of question.optionsArray; let i = index">
          <td>{{ item.value }}</td>
          <td>
            <div class="mt-2 mb-2">
              <mat-chip-list>
                <mat-chip *ngFor="let itemOption of item.options" [removable]="true" (removed)="remove(itemOption, i)">
                  {{ itemOption }}
                  <nb-icon icon="close-outline" matChipRemove></nb-icon>
                </mat-chip>
              </mat-chip-list>
            </div>

            <input nbInput class="form-control" [(ngModel)]="optionValue[i]" (change)="addOption(i)" />
          </td>
          <td>
            <select
              nbSelect
              id="correct"
              fullWidth
              [(ngModel)]="item.correct"
              class="form-control"
              placeholder="Select answer"
            >
              <option value="">Select answer</option>
              <option [value]="item" *ngFor="let item of item.options">{{ item }}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
