<div class="exam-view-dialog">
  <nb-card class="exam-view-dialog-card">
    <nb-card-header class="d-flex align-items-center justify-content-between">
      <span>{{ preparedExamForUser?.title }}</span> &nbsp;
      <div>
        <button
          *ngIf="preparedExamForUser?.type == 'time-based' && examStarted"
          nbButton
          size="small"
          status="secondary"
        >
          {{ timerDisplayText || 'starting' }}
        </button>
        &nbsp;

        <button
          *ngIf="examStarted"
          nbButton
          size="small"
          status="primary"
          [nbPopover]="calculatorPopover"
          nbPopoverPlacement="bottom"
        >
          <nb-icon icon="calculator" pack="ion"></nb-icon>
        </button>
        &nbsp;
        <button *ngIf="examStarted" nbButton size="small" status="primary">
          Question {{ examStepper?.selectedIndex + 1 }}
        </button>
        &nbsp;
        <button *ngIf="examStarted" nbButton size="small" status="primary">
          Total {{ preparedExamForUser?.questionsAndCaseStudies.length }}
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row" *ngIf="!examSubmitted && !examStarted">
        <div class="col-sm-6 col-12">
          <p>Start Date: {{ preparedExamForUser?.startDate | date : 'medium' }}</p>
        </div>
        <div class="col-sm-6 col-12">
          <p>End Date: {{ preparedExamForUser?.endDate | date : 'medium' }}</p>
        </div>
        <div class="col-sm-6 col-12">
          <p>Total Marks: {{ preparedExamForUser?.totalMarks }}</p>
        </div>
        <div class="col-sm-6 col-12">
          <p>Total Questions: {{ preparedExamForUser?.questionsAndCaseStudies.length }}</p>
        </div>
        <div class="col-sm-6 col-12">
          <p>Exam Type: {{ preparedExamForUser?.type }}</p>
        </div>
        <div *ngIf="preparedExamForUser?.type == 'time-based'" class="col-sm-6 col-12">
          <p>Time Limit: {{ preparedExamForUser?.timeLimit }} min(s)</p>
        </div>

        <div *ngIf="preparedExamForUser?.specialInstructions" class="col-sm-12">
          <h6>Instructions</h6>
          <ngx-sanatize-html-string [htmlString]="preparedExamForUser?.specialInstructions"></ngx-sanatize-html-string>
        </div>

        <div class="col-sm-12">
          <div class="text-center">
            <button nbButton status="primary" (click)="startExam()" hero>Start Exam</button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!examSubmitted && examStarted">
        <div class="col-sm-12">
          <nb-stepper #examStepper orientation="horizontal" disableStepNavigation="true">
            <nb-step
              *ngFor="let exam of preparedExamForUser?.questionsAndCaseStudies; let questionsAndCaseStudyIndex = index"
            >
              <!-- Renders Case study -->
              <ngx-case-study-view-renderer
                *ngIf="exam.type == 'caseStudy'"
                [caseStudy]="exam.caseStudy"
                [userType]="'student'"
                [viewMode]="'exam'"
                (submitAnswer)="nextQuestion()"
              ></ngx-case-study-view-renderer>

              <!-- Renders Question -->
              <ngx-question-view-renderer
                *ngIf="exam.type == 'question'"
                [question]="exam.question"
                [userType]="'student'"
                [viewMode]="'exam'"
                (submitAnswer)="nextQuestion()"
              ></ngx-question-view-renderer>

              <!-- <div class="mt-2">
                  <button [disabled]="questionsAndCaseStudyIndex == 0" nbButton nbStepperPrevious>prev</button>&nbsp;
                  <button
                    [disabled]="questionsAndCaseStudyIndex == preparedExamForUser?.questionsAndCaseStudies.length - 1"
                    status="primary"
                    nbButton
                    nbStepperNext
                  >
                    next
                  </button>
                </div> -->
            </nb-step>
          </nb-stepper>
        </div>
      </div>
      <div class="row" *ngIf="examSubmitted">
        <div class="col-sm-12 p-90">
          <h6 class="text-center mb-50">Exam is submitted successfully!</h6>
          <div class="text-center">
            <button nbButton status="danger" (click)="routeTo('student-pages/exams/list')" hero>
              Navigate To Exams
            </button>
            &nbsp; &nbsp;
            <button nbButton status="primary" (click)="routeTo('student-pages/reports/list')" hero>
              Navigate To Reports
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <!-- Calculator component -->
  <ng-template #calculatorPopover>
    <ngx-calculator></ngx-calculator>
  </ng-template>
</div>
